<html>
  <head>
    <style>
      .span_class {
        width: 50px;
        margin-right: 20px;
      }
    </style>
  </head>
  <body>
    <div>
      <table>
        <tr>
          <th>고정 확장자</th>
          <td>
            <span>
              <span class="span_class">
                <input type="checkbox" value="bat" id="bat" class="fix_ban" />
                <label for="bat">bat</label>
              </span>
              <span class="span_class">
                <input type="checkbox" value="cmd" id="cmd" class="fix_ban" />
                <label for="cmd">cmd</label>
              </span>
              <span class="span_class">
                <input type="checkbox" value="com" id="com" class="fix_ban" />
                <label for="com">com</label>
              </span>
              <span class="span_class">
                <input type="checkbox" value="cpl" id="cpl" class="fix_ban" />
                <label for="cpl">cpl</label>
              </span>
              <span class="span_class">
                <input type="checkbox" value="exe" id="exe" class="fix_ban" />
                <label for="exe">exe</label>
              </span>
              <span class="span_class">
                <input type="checkbox" value="scr" id="scr" class="fix_ban" />
                <label for="csr">csr</label>
              </span>
              <span class="span_class">
                <input type="checkbox" value="js" id="js" class="fix_ban" />
                <label for="js">js</label>
              </span>
            </span>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
